<!DOCTYPE html>
<html>

<head>
  <title>Revcontent Widget</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
    html,
    body {
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body>
  <div data-widget-host="revcontent" data-pub-id="{PUBLISHER_ID}" data-widget-id="{WIDGET_ID}">
  </div>
  <script src="https://delivery.revcontent.com/{PUBLISHER_ID}/{WIDGET_ID}/widget.js"></script>
  <!--use a local script with a externally accesible url for local development testing-->
  <!-- <script src="https://b545-35-136-204-9.ngrok-free.app/widget.js"></script> -->
</body>

</html>